body{
    background:#1b0b0b;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.6;
}
.button{
    border: none;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: white;
}
.meanu{
    color: white;
}
.tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    color: white;
    justify-content: center;
}
.tags span{
    border:1px solid #444;
    padding:8px 14px;
    border-radius:20px;
    font-size:13px;
}
.cr{
   background-color: rgb(221, 221, 35);
   color: black;
}
.GG{
    color: white;
    display: flex;
   justify-content: center;
}
.p{
    justify-content: center;
    display: flex;
}
section{
    justify-content: center;
    display: flex;
}
.featured{
    padding:25px 20px;
    align-items: center;
    display: block;
    text-align: center;
}

.featured h2{
    font-size:32px;
    margin-bottom:10px;
}

.featured p{
    color:#c7c7c7;
}

.articles{
    text-align: center;
    display: block;
    justify-content: center;

}

article{
    padding:25px 0;
   
    display: block;
}
.one{
justify-content: center;
padding-left: 90px;
padding-right: 90px;
}
.footer{
    background:#1b0406;
    color:white;
    min-height:100vh;
    padding:70px 60px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.logo-section h1{
    font-size:70px;
    font-weight:700;
}

.links-container{
    display:flex;
    gap:120px;
}

.column{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.column a{
    color:white;
    text-decoration:underline dotted;
    font-size:22px;
}

.highlight{
    color:#f8d56d !important;
}

.footer-bottom{
    margin-top:180px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.copyright{
    width:420px;
}

.copyright p{
    font-size:18px;
    line-height:1.7;
    color:#e6e6e6;
}

.footer-info{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.phones,
.policies{
    display:flex;
    gap:30px;
}

.phones a,
.policies a{
    color:white;
    font-size:18px;
    text-decoration:underline dotted;
}

@media(max-width:900px){

    .footer-top,
    .footer-bottom{
        flex-direction:column;
        gap:50px;
    }

    .links-container{
        flex-wrap:wrap;
        gap:50px;
    }

    .logo-section h1{
        font-size:50px;
    }

    .phones,
    .policies{
        flex-direction:column;
        gap:10px;
    }
}